</main>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top">
        <div class="col-md-4 d-flex align-items-center mx-3">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Meir Zaks</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-3">
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/MeirZaks"
                    aria-label="Instagram"><img class="bi" width="30" height="30" aria-hidden="true"
                        src="/assets/github_logo.png">
                </a></li>
        </ul>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>


</html>