<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meir's Book List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<!--based on if color variable is loaded in page,
makes the dynamic-color tag of the CSS appear and creates
a variable called colorDom to pass to the CSS-->

<body class="<%= locals.color ? 'dynamic-color' : '' %>"
    style="<%= locals.color ? '--colorDom:' + locals.color + ';' : '' %>">

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a
                    href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li class="px-2 <%= locals.color ? 'white-text' : 'link-secondary' %>">Sort By:</li>
                        <form action="/sort" method="post" class="d-flex p-0">
                            <li><button class="px-2 link-body-emphasis" type="submit" name="sort_by"
                                    value="title">Title</button></li>
                            <li><button class="px-2 link-body-emphasis" type="submit" name="sort_by"
                                    value="rating">Rating</button></li>
                            <li><button class="px-2 link-body-emphasis" type="submit" name="sort_by"
                                    value="recency">Recency</button></li>
                        </form>
                        <li><a></a></li>
                    </ul>
            </div>
        </div>
    </header>
    <main>